.categories-container{
    max-width: 900px;
    margin: 20px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.categories-container h2{
    font-size: 30px;
    border-left: 4px solid #3a3a3a;
    padding-left: 15px;
}
.categories-container .categories{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 25px;
}
.categories-container .categories img{
    width: 70px;
}
.categories-container .category{
    /*horizontal | vertical | Blur | spread | color */
    box-shadow: 0px 4px 24px -8px rgba(41, 19, 139, 0.397);
    padding: 20px;
    border-radius: 15px;
    /*porperty |duration | timing function | delay*/
    transition: 400ms;
    position: relative;
    display: flex;
    flex-direction: column;
}
.categories-container .category:hover{
    transform: scale(1.03);
}
.categories-container .positions{
    position: absolute;
    top:50px;
    right: 20px;
    color: rgba(0, 139, 130, 0.87);
}
.categories-container .category-title{
    font-size: 20px;
    padding: 3px;
    margin: 0;
    color: brown;
}
.categories-container .details{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    flex:1;
}
.categories-container .more-details-btn{
    border: 1px ridge rgba(182, 179, 202, 0.821);
    padding: 8px 16px;
    border-radius:5px;
    margin-top: 12px;
    transition:400ms ease-in-out;
    color:seagreen;
}
.categories-container .more-details-btn:hover{
    background:rgb(52, 125, 52);
    color: wheat;
}
.categories-container .search{
    width: 99%;
    margin-left: 8px;
    padding: 10px 16px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    transition:400ms;
}
.categories-container .search:hover{
    transform:scale(1.05);
}
.categories-container .search input{
    border: none;
    outline: none;
    font-size: 15px;
    width: 96%;
}
.categories-container .see-more{
    width: 30%;
    margin: 35%;
    text-decoration: none;
    border: 1px ridge rgba(182, 179, 202, 0.821);
    padding: 10px 20px;
    border-radius:5px;
    margin-top: 12px;
    transition: all 400ms ease-in-out;
    color:seagreen;
}

.categories-container .see-more:hover
{
    background:rgb(52, 125, 52);
    color: wheat;
}


.categories-container {
    margin-top: 90px;
}